In [126]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as itt

In [127]:
# чтение файла movie_bd_v5.xls
data = pd.read_csv('movie_bd_v5.xls')
# вывод примеров строк
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
605,tt0830515,200000000,586090727,Quantum of Solace,Daniel Craig|Olga Kurylenko|Mathieu Amalric|Ju...,Marc Forster,"For love, for hate, for justice, for revenge.",Quantum of Solace continues the adventures of ...,106,Adventure|Action|Thriller|Crime,Eon Productions,10/30/2008,6.0,2008
1415,tt0388980,25000000,15431177,The Greatest Game Ever Played,Shia LaBeouf|Stephen Dillane|Josh Flitter|Pete...,Bill Paxton,Based on a True Story,A biopic of 20-year-old Francis Ouimet who def...,120,Drama|Family,Walt Disney Pictures,9/30/2005,7.0,2005
427,tt0817230,52000000,216485654,Valentine's Day,Jessica Alba|Jessica Biel|Bradley Cooper|Eric ...,Garry Marshall,A Love Story. More or Less.,More than a dozen Angelenos navigate Valentine...,125,Comedy|Romance,New Line Cinema|Karz Entertainment|Rice Films,2/10/2010,5.6,2010
1648,tt0337579,18000000,65070412,Barbershop 2: Back in Business,Ice Cube|Cedric the Entertainer|Sean Patrick T...,Kevin Rodney Sullivan,Let your hair down,The continuing adventures of the barbers at Ca...,106,Comedy|Drama,Metro-Goldwyn-Mayer (MGM),1/20/2004,5.7,2004
1850,tt0183523,90000000,60874615,Mission to Mars,Gary Sinise|Tim Robbins|Don Cheadle|Connie Nie...,Brian De Palma,Let There Be Life.,When contact is lost with the crew of the firs...,114,Science Fiction,Spyglass Entertainment|The Jacobson Company|To...,3/10/2000,5.6,2000

In [128]:
# просмотр основных статистических данных
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [129]:
print(data['budget'].mean())

54310829.63843303

# Предобработка

In [130]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# добавляем столбец profit
data = data.assign(profit=data.revenue - data.budget)

# добавим функцию разделения по '|'
def stringsToList(string):
    result = string.str.split('|')
    return result

# разбиваем 'release_date' по столбцам 'month','day','year'
date_df = data['release_date'].str.split('/', expand=True)
date_df.columns = ['month', 'day', 'year']
date_splited_df = pd.concat([data, date_df], axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [131]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [132]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [133]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [134]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)??

In [135]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [136]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [137]:
answers['4'] = '110'

In [138]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [139]:
answers['5'] = '107'

In [140]:
data.median(axis = 0)

budget          38000000.0
revenue         83615414.0
runtime              107.0
vote_average           6.1
release_year        2008.0
profit          44000410.0
dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [33]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [141]:
answers['6'] = 'Avatar (tt0499549)'

In [142]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [143]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [144]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [145]:
answers['8'] = '1478'

In [146]:
data[data.revenue > data.budget].original_title

0                     Jurassic World
1                 Mad Max: Fury Road
2                          Insurgent
3       Star Wars: The Force Awakens
4                          Furious 7
                    ...
1871               Keeping the Faith
1875                         The Kid
1877               Love & Basketball
1883                    Return to Me
1884                           X-Men
Name: original_title, Length: 1478, dtype: object

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [147]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [148]:
max_revenue_2008 = data[data.release_year == 2008].revenue.max()
data[(data.revenue == max_revenue_2008) & (
    data.release_year == 2008)].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [149]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [150]:
# создаем DataFrame в интервале от 2012 до 2014 (включительно)
min_profit_2012_2014 = data[(data.release_year >= 2012) & (
    data.release_year <= 2014)].profit.min()

display(min_profit_2012_2014)

# выводим название самого убыточного фильма 
data[data.profit == min_profit_2012_2014].original_title

-165710090

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [151]:
answers['11'] = 'Drama'

In [152]:
# разделяем сгруппированные жанры по '|' и
# выводим самый часто встречающийся
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [153]:
answers['12'] = 'Drama'

In [154]:
# создаем срез со значением в колонке profit больше нуля
above_zero_profit = data.loc[data.profit > 0][['genres', 'profit']]

# выводим жанры по количеству повторений во фрейме
Counter(above_zero_profit.genres.str.split('|').sum()).most_common(17)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [155]:
answers['13'] = 'Peter Jackson'

In [156]:
# сгруппируем данные колонки director по режиссерам и
# выведем суммарные сборы в порядке убывания
grouped_by_director = data.groupby(
    ['director'])['revenue'].sum().sort_values(ascending=False)
display(grouped_by_director)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [157]:
answers['14'] = 'Robert Rodriguez'

In [158]:
# получение строк содержащих значение 'Action' и
# выведем имя наиболее часто встречающегося режисера
action_movies = data[data.genres.str.contains('Action', na=False)]
Counter(action_movies.director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

In [159]:
data[data.genres.str.contains(
    'Action')].director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [160]:
answers['15'] = 'Chris Hemsworth'

In [161]:
# создание среза по фильмам за 2012 год
movies_2012 = data.loc[data.release_year == 2012][[
    'original_title', 'cast', 'revenue', 'release_year']]

# поименная разбивка актерского состава
cast_splited_df_2012 = movies_2012.assign(
    actors=movies_2012.cast.str.split('|')).explode('actors')

# группировка по актерам с сортировкой по
# суммарным кассовым сборам
cast_splited_df_2012.groupby(cast_splited_df_2012['actors'])[
    'revenue'].sum().sort_values(ascending=False)

actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [162]:
answers['16'] = 'Matt Damon'

In [163]:
# создание среза с фильмами бюджет которых выше среднего 
high_budget_movies = data.loc[data.budget > 54310830][[
    'cast', 'original_title', 'budget']]
# выведем имя наиболее часто встречающегося актера
Counter(high_budget_movies.cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [164]:
answers['17'] = 'Action'

In [165]:
# создание среза по актерскому составу в котором
# фигурирует Nicolas Cage
Nicolas_Cage_movies = data.loc[data.cast.str.contains('Nicolas Cage')][[
    'cast', 'genres']]
# выведем наиболее часто встречающийся жанр
Counter(Nicolas_Cage_movies.genres.str.split('|').sum()).most_common(3)

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

# 18. Самый убыточный фильм от Paramount Pictures

In [166]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [167]:
# создание среза по студии Paramount Pictures
# выведем названия фильмов с профитом в порядке возрастания
most_unprofitable = data.loc[data.production_companies.str.contains(
    'Paramount Pictures')][['original_title', 'profit']].sort_values(
        'profit', ascending=True)
display(most_unprofitable)

                                         original_title     profit
925                                K-19: The Widowmaker  -64831034
1123                                           Timeline  -60519261
1722                                               Next  -51788987
1623                                              Alfie  -46604061
1631                                            Twisted  -24805000
...                                                 ...        ...
730                Mission: Impossible - Ghost Protocol  549713380
1738                                       Transformers  559709780
603   Indiana Jones and the Kingdom of the Crystal S...  601636033
317                 Transformers: Revenge of the Fallen  686297228
828                      Transformers: Dark of the Moon  928746996

[122 rows x 2 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [168]:
answers['19'] = '2015'

In [169]:
data.groupby(data['release_year'])['revenue'].sum().sort_values(
    ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [170]:
answers['20'] = '2014'

In [171]:
display(data[data.production_companies.str.contains(
    "Warner Bros", na=False)].groupby(
    data['release_year'])['profit'].sum().sort_values(ascending=False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [172]:
answers['21'] = 'Сентябрь'

In [173]:
# воспользуемся датафреймом 'date_splited_df'
# из предобработки
Counter(date_splited_df.month).most_common(3)

[('9', 227), ('12', 190), ('10', 186)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [174]:
answers['22'] = '450'

In [175]:
# получим срез с "летними" фильмами из 'date_splited_df'
# из предобработки
summer_list = date_splited_df.loc[(date_splited_df.month == '6') | (
    date_splited_df.month == '7') | (
    date_splited_df.month == '8')][['imdb_id', 'month']]
# количество строк соответствует количеству фильмов
display(summer_list)

        imdb_id month
0     tt0369610     6
6     tt1340138     6
8     tt2293640     6
9     tt2096673     6
13    tt2120120     7
...         ...   ...
1873  tt0160009     8
1875  tt0219854     7
1884  tt0120903     7
1886  tt0131704     6
1888  tt0163676     7

[450 rows x 2 columns]

# 23. Для какого режиссера зима – самое продуктивное время года?

In [176]:
answers['23'] = 'Peter Jackson'

In [177]:
# получим срез из 'date_splited_df' с режиссерами
# чьи съемки проходили зимой
winter_director = date_splited_df.loc[(date_splited_df.month == '12') | (
    date_splited_df.month == '1') | (
        date_splited_df.month == '2')][['director']]
# выведем наиболее часто встречающиеся имена
Counter(winter_director.director).most_common(5)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [178]:
answers['24'] = 'Four By Two Productions'

In [179]:
data['title_length'] = data['original_title'].map(lambda x: len(x))

# получим список уникальных названий компаний
companies = data['production_companies'].str.split('|').explode().unique()

# создадим серию для хранения средних значений
sum_gen = pd.Series(dtype='float64', index=companies)

# по всему датафрейму для каждой из компаний вычислим среднее значение
# для всех названий фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(
        lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [189]:
answers['25'] = 'Midnight Picture Show'

In [180]:
# датафрейм с разбивкой значений столбца 'production_companies'
splited_companies = data.assign(
    production_companies=data.production_companies.str.split(
        '|')).explode('production_companies')

# подсчет пробелов в описании фильмов
space_count = splited_companies['overview'].str.split().apply(len)

# добавление нового столбца с количеством слов
overview_words_number = splited_companies.assign(words=space_count + 1)

# группировка по наименованиям студии с сортировкой по
# среднему количеству слов
overview_words_number.groupby(['production_companies'])[[
    'words']].mean().sort_values(['words'], ascending=False)

                                       words
production_companies
Midnight Picture Show                  176.0
Room 9 Entertainment                   162.0
Heineken Branded Entertainment         160.0
98 MPH Productions                     160.0
Brookwell-McNamara Entertainment       157.0
...                                      ...
Henceforth                              14.0
Our Stories Films                       14.0
London Boulevard                        14.0
Motion Picture Corporation of America   12.0
Empire Pictures                         12.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [181]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [182]:
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border].sort_values(
    by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [183]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [184]:
from collections import Counter
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = stringsToList(data['cast'])
actor_pairs = []
for i in range(0, len(data)):
    for item in itt.combinations(data['cast'][i], 2):
        actor_pairs.append(item)
Counter(actor_pairs).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [190]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '25': 'Midnight Picture Show'}

In [191]:
# и убедиться что ни чего не пропустил)
len(answers)

27